@page "/"

@using EventEaseApp.Components

@inject EventEaseApp.Services.SessionState SessionState;

<h1>Welcome to EventEase</h1>

@if (SessionState.IsAuthenticated)
{
    <p>Hello, @SessionState.Username! You are logged in.</p>
    <p>You may now view the <a href="/eventlist">Event List</a></p>
}
else
{
    <p>Please register or log in to continue.</p>

    <RegistrationForm />
    <LoginForm />
}

@code {
    protected override void OnInitialized()
    {
        SessionState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        SessionState.OnChange -= StateHasChanged;
    }
}