@inject DataService DataService;
@using AdvancedBlazorComponents.Pages;

<ChildComponent @ref="childComponent" OnNotifyParent="HandleNotification" />

<ul>
    <p style="color:@ThemeColor;">This text should be colored light-blue</p>
    @foreach (var item in DataService.GetData()){
        <li>@item</li>
    }
</ul>

@code {
    private ChildComponent childComponent;

    private void HandleNotification(string message)
    {
        Console.WriteLine("Notification received from the child component");
    }

    [Parameter]
    public string ThemeColor { get; set; } = "lightblue";
}